<div class="newComment">
  <h3>Leave a comment:</h3>
  <div ng-controller="CommentsController as ctrl">
    <form name="ctrl.form" ng-submit="ctrl.createComment()">

      <label>Name: </label>
      <input type="text" name="name" ng-model="ctrl.name" ng-minlength="2" ng-maxlength="30" required>
      <div class="help-block" ng-messages="ctrl.form.name.$error">
        <p ng-message="required">Name is required</p>
        <p ng-message="minlength">Name must be between 2-30 characters</p>
        <p ng-message="maxlength">Name must be between 2-30 characters</p>
      </div>


      <br />
      <label>Email: </label>
      <input type="email" name="email" ng-model="ctrl.email" required>
      <div class="help-block" ng-messages="ctrl.form.email.$error">
        <p ng-message="required">Email is required</p>
        <p ng-message="email">This needs to be a valid email</p>
      </div>
      <br />

      <label>Comment: </label>
      <input type="text" name="content" ng-model="ctrl.content" ng-minlength="3" ng-maxlength="500" required>
      <div class="help-block" ng-messages="ctrl.form.content.$error">
        <p ng-message="required">A comment is required</p>
        <p ng-message="minlength">Comment must be more than 3 letters</p>
        <p ng-message="maxlength">Comment can not be more than 500 letters</p>
      </div>
      <br />

      <input type="submit" value="Submit Comment">
    </form>
  </div>
</div>

<br />
<div class="comments">
  <h3>Comments</h3>
  <ul>
    <li ng-repeat="comment in station.comments">
        <h4>{{comment.content}}</h4>
        <h5>{{comment.name}}, {{comment.email}}</h5>
    </li>
  </ul>
</div>
