body {
  background: url(frontier-pathways-wet-mtn-valley_anna-zoromski-weaver-multimedia-group.jpg) no-repeat center center fixed;
  background-size: cover;
}

.app {
}

.app h1 {
  color: white;
  text-align: center;
  font-size: 9em;
  position: relative;
  top: 138px;
  text-shadow: 3px 3px green;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


.station-table {
  background-color: rgba(121, 171, 128, 0.75);
  width: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  }

.showStations {
  font-size: 3em;
  padding-top: 300px;
  text-align: center;
}

.flexTable {
}
