body {
  background: url(frontier-pathways-wet-mtn-valley_anna-zoromski-weaver-multimedia-group.jpg) no-repeat center center fixed;
  background-size: cover;
}

.app h1 {
  color: white;
  text-align: center;
  font-size: 9em;
  position: relative;
  top: 150px;
}
// body {
//   background: #2DBA42;
// }
