table, th, td {
  border: 3px solid #E8E7D7;
  border-collapse: collapse;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.station-view {
  padding: 20px;
}

a:link {
  color: #403C85;
}

a:visited {
  color: #403C85;
}

td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 400px;
  background-color: rgba(69, 181, 133, 0.35);

}

.table-header {
  text-align: center;
  background-color: rgba(2, 103, 127, 0.35);
}

.stationReturn {
  font-size: 2em;
  text-align: center;
  margin-top: 150px;
}

.stationAttributes {
  text-align: center;
  padding-top: 250px;
}

.btn {
  margin-top: 75px;
}

.attribute {
  text-align: center;
  margin-top: 150px;
  font-size: 3em;
  background-color: rgba(69, 181, 133, 0.55);
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.newComment {
  margin-top: 50px;
  background-color: white;
}

.comments {
  margin-top: 50px;
  background-color: white;
}
