table, th, td {
  border: 3px solid #E8E7D7;
  border-collapse: collapse;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

.station-view {
  padding: 20px;
}

a:link {
  color: #003636;
}

a:visited {
  color: #003636;
}

.stationName {
    margin-top: -100px;
    position: relative;
    height: 150px;
}

.stationReturn a:link {
  color: white;
}

.stationReturn a:visited {
  color: white;
}

td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 400px;
  background-color: rgba(69, 181, 133, 0.35);

}

.table-header {
  text-align: center;
  background-color: rgba(2, 103, 127, 0.35);
}

// figure out how to lock in position
.stationReturn {
  font-size: 2em;
  text-align: center;
  margin-top: 75px;
  // position: relative;
}

.stationAttributes {
  text-align: center;
  padding-top: 250px;
}

.btn {
  margin-top: 375px;
}

.attribute {
  padding: 20px;
  margin-top: 150px;
  height: 150px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}

.newComment {
  margin-top: 50px;
  background-color: white;
}

.comments {
  margin-top: 50px;
  background-color: white;
  height: 470px;
  display: inline-block;
  overflow: scroll;
}

.station-info {
  // height: 200px;
}

.station-page {

}
