table, th, td {
  border: 3px solid white;
  border-collapse: collapse;
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
}

.station-view {
  padding: 20px;
}

a:link {
  color: #403C85;
}

a:visited {
  color: #403C85;
}
