<!DOCTYPE html>
<html>
<head>
  <title>AltFuelStations</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app" ng-app="app">
    <h1>Alternative Fuel stations</h1>
    <ul class="nav navbar-nav">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="stations">Show All Stations</a></li>
    </ul>
    <br />
    <br />
    <div ui-view></div>
  </div>
</body>
</html>
