<!DOCTYPE html>
<html>
<head>
  <title>AltFuelStations</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  <script src="/bower_components/angular"></script>
  <script src="/bower_components/angular-ui-router"></script>
  <script src="/bower_components/angularUtils-pagination"></script>
  <script src="/bower_components/bootstrap-sass"></script>


  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app" ng-app="app">
    <div ui-view></div>
  </div>
</body>
</html>
