<!DOCTYPE html>
<html>
<head>
  <title>AltFuelStations</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  <script src="/vendor/assets/bower_components/angularUtils-pagination/dirPagination.js"></script>
  <script src="/vendor/assets/bower_components/angular/angular.js"></script>
  <script src="/vendor/assets/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app" ng-app="app">
    <div ui-view></div>
  </div>
</body>
</html>
