<!DOCTYPE html>
<html>
<head>
  <title>AltFuelStations</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app" ng-app="app">
    <h1>Alternative Fuel stations</h1>
    <div ng-include="'pages/nav/_nav.html'"></div>
    <div ui-view></div>
  </div>
</body>
</html>
