<!DOCTYPE html>
<html>
<head>
  <title>AltFuelStations</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app" ng-app="app">
    <h1>Alternative Fuel stations</h1>
    <a ui-sref="stations">Show All Stations</a>
    <a ui-sref="user">Go To Your Account</a>
    <br />
    <br />
    <div ui-view></div>
  </div>
</body>
</html>
